$dark: #1A112F;
$light: #CECFD0;
$light-gray: #ACA7A9;
$silver: #9990AE;
$silver-light: #CAC3DA;
$silver-dark: #6F6C8C;
$blue: #4D43A3;
$accent: #FF6B52;


@mixin btn {
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(89.52deg, #F3F8FF 0.58%, #FAFCFF 99.74%);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;

    &.scroll-lock {
        overflow: hidden;
        padding-right: var(--scrollbar-width);
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 70px;

    @media (max-width: 1024px) {
        padding: 0 42px;
    }

    @media (max-width: 739px) {
        padding: 0 24px;
    }
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $dark;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: $accent;
        border-radius: 2px;
        margin-right: 17px;

        @media (max-width: 739px) {
            width: 12px;
            height: 12px;
            margin-right: 12px; 
        }
    }

    @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 24px;
    }

    @media (max-width: 739px) {
        font-size: 18px;
        line-height: 22px;
    }
}

.btn-details {
    position: relative;
    @include btn;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #FAFCFF;
    background-color: #FF6B52;
    border-radius: 4px;
    z-index: 10;
    transition: all .3s ease-in;

    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 22px;
        padding: 14px 28px;
    }

    @media (max-width: 739px) {
        font-size: 13px;
        line-height: 13px;
        padding: 12px 16px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        right: 0;
        bottom: 14px;
        background: linear-gradient(180deg, #FF8F52 0%, rgba(255, 143, 82, 0.09) 100%);
        border-radius: 4px 4px 0 0;
        transition: all .3s ease-in;
    }

    span {
        position: relative;
        z-index: 20;
    }

    &:hover {
        background-color: #FB5033;
        box-shadow: 0px 1px 7px 2px rgba(255, 189, 67, 0.3);

        @media (max-width: 1024px) {
           background-color: #FF6B52;
           box-shadow: none; 
        }
    }

    &:hover &::before {
        background: linear-gradient(180deg, #F8732C 0%, rgba(255, 143, 82, 0.09) 100%);

        @media (max-width: 1024px) {
            background: linear-gradient(180deg, #FF8F52 0%, rgba(255, 143, 82, 0.09) 100%);
        }
    }
}

.btn-see-works {
    @include btn;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $blue;
    text-decoration: none;
    margin-left: 46px;

    @media (max-width: 1339px) {
       margin-left: 32px; 
    }

	&__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $blue;
        margin-left: 10px;

        .data__icon {
            width: 9px;
            height: 10px;
        }
	}

    &:hover &__arrow {
        animation: fly 1s ease-out infinite;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.btn-up {
    @include btn;
    position: absolute;
    bottom: 0;
    left: 70px;
    background: #FFFFFF;
    box-shadow: -1px 4px 12.7px 2px rgba(77, 67, 163, 0.06);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: opacity .3s ease-in;

    &:hover {
        opacity: 0.9;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}