
.header {
    position: absolute;
    top: 62px;
    width: 100%;
    z-index: 20;
    
    &__logo {
        display: block;
        width: 296px;
        height: 46px;

        @media (max-width: 1024px) {
            width: 263px;
            height: 41px;
        }

        @media (max-width: 739px) {
           width: 170px;
           height: 27px; 
        }

        .head-logo-mob {
            display: none;
            width: 100%;
            height: 100%;

            @media (max-width: 739px) {
                display: block;
            }
        }

        .data__icon {
            width: 100%;
            height: 100%;

            @media (max-width: 739px) {
                display: none;
            }
        }
    }

    @media (max-width: 1024px) {
        top: 42px;
    }

    @media (max-width: 739px) {
        top: 37px;
    }
}
