
.header {
    position: absolute;
    top: 62px;
    width: 100%;
    z-index: 20;
    
    &__logo {
        display: block;
        width: 296px;
        height: 46px;

        .data__icon {
            width: 100%;
            height: 100%;
        }
    }
}
